.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 25px;
    color: white;
    border-bottom: 3px solid #3498db;
}

.navbar h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.btn-all {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #3498db;
}

.btn-all:hover {
    background-color: #2980b9;
}

.btn-ram {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #9b59b6 ;
}
.btn-ram:hover {
    background-color: #8e44ad ;
}

.btn-cpu {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #e67e22;
}
.btn-cpu:hover {
    background-color: #d35400;
}

.btn-proc {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    background-color: #16a085;
}
.btn-proc:hover {
    background-color: #138d75;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.chart-container:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.procesos-container {
    margin: 30px auto;
    background-color: rgb(199, 199, 199);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.procesos-container:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.ultima-actualizacion {
    font-size: 14px;
    color: #ecf0f1;
    margin-top: 5px;
}